:root {
    --navBgHove-color: #fff;
    --navColorHove-color: #084f6bde;
    --circuloOval-color: #ff0000;
    --circuloOvalBorder: #FFB0FA;

    --faleConoscoBg-color: #1991C0DE;
    --faleConoscoBgHover-color: #6ecff5de;
    --faleConoscoBgActive-color: #022c3dde;
    --borderCirculo-color:#EBA9FF;
    --borderCirculo2-color:#d400ff;

    --titleSection-color:#0b6592;

    --cardBoxBg-color: #1991c048;
    --cardBoxBgHover-color:#1991C030;

    --cardBoxBgVan-color:hsla(0, 58%, 63%, 0.105);
    --cardBoxBgVan2-color:#00060930;
    --cardBoxBgVanHover-color:#232b2e30;
    
    --faleConoscoSecBg-color:#ffffff;

    --maisProjetos-color:#ffffffd4;

}


   